@import "tailwindcss";

/* Hide scrollbar in emoji picker viewport while preserving scroll */
.emoji-scroll{
  scrollbar-width: none; /* Firefox */
}
.emoji-scroll::-webkit-scrollbar{ /* Chrome, Safari */
  width: 0;
  height: 0;
}

/* Hide scrollbar for chat messages while preserving scroll */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.scrollbar-hide::-webkit-scrollbar { /* Chrome, Safari */
  display: none;
}
